	@media (max-width:1290px) {
		.left-center-1{
			display: none;
		}
	}
	
		li{
			list-style: none;
			color: #8B97A6;
			margin-top: 2px;
		}
		.col-xs-4{
		
			line-height: 90px;
			padding: 0;
		}
		.col-xs-4 div{
			width: 96%;
			height: 55%;
			background: #F7F7F7;
			padding: 0;
		}
		.col-xs-4 div div:nth-child(1){
			width: 20%; 
			height: 100%;
		}
		.col-xs-4 div div:nth-child(2){
			width: 80%; 
			height: 100%;
		}
		.col-xs-4 i{
			font-size: 15px;
			line-height: 45px;
			color: #F7F7F8;
			background-color: #A8B2B4;
			border-radius: 20px ;
			padding: 10px;
		}
		#sxlb{
			width: 100%;
		}
		#sxlb thead{
			border-top: 1px solid #EDF0F6;
			border-bottom: 1px solid #EDF0F6;
			color: #A1AAB6;
			line-height: 50px;
		}
		#sxlb tbody tr{
			line-height: 30px;
		}
		 #sxlb tbody tr:nth-child(odd){
		 	background: #F7F7F7;
		 	color: #858A98;
		 }
		 #sxlb tbody tr:nth-child(even){
		 	background: #F2F2F2;
		 	color: #858A98;
		 }
		#xxx{
			width: 100%;
			height: 30px;
		
		}
		#lqsx tr td{
			border: none !important; 
		}
		#lqsx tr{
			background: white;
			text-align: center;
		}
		.row div:nth-child(1){
			padding: 0;
			line-height: 36px;
			
		}
		
		
		
		
		
