<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置权限管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- ref对应我们写的realm  MyShiro -->
        <property name="realm" ref="myShiro"/>
    </bean>

    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 调用我们配置的权限管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 配置我们的登录请求地址 -->
        <property name="loginUrl" value="/login"/>
        <!-- 配置我们在登录页登录成功后的跳转地址，如果你访问的是非/login地址，则跳到您访问的地址 -->
        <property name="successUrl" value="/bg"/>
        <!-- 如果您请求的资源不再您的权限范围，则跳转到/403请求地址 -->
        <property name="unauthorizedUrl" value="/login/403"/>
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">
        <value>

            <!-- 只有当有quanzhi角色时才能访问 -->
            /enret/qzgl = roles[quanzhi]

            <!-- 只有当有xuexiao角色时才能访问 -->
            /bgSchmg = roles[xuexiao]

            <!-- 只有当有wenzhang角色时才能访问 -->
            /enret/wzgl = roles[wenzhang]

            <!-- 只有当有dahzaohui角色时才能访问 -->
            /enret/dzhgl = roles[dahzaohui]

            <!-- 只有当有qiye角色时才能访问 -->
            /enret/qygl = roles[qiye]

            <!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证,如果未登录则跳到/login-->
            /app_enret/** = anon
            /app_article/** = anon
            /app_enmg/** = anon
            /appSchmg/** = anon
            /bigret/** = anon
            /logandrigret/** = anon
            /user/** = anon
            /img/** = anon
            /static/** = anon
            /** = authc

            <!--    &lt;!&ndash; anon表示此地址不需要任何权限即可访问 &ndash;&gt;
                /static/**=anon
                &lt;!&ndash;  /user = perms[query]perms[user:query]表示访问此连接需要权限为user:query的用户 &ndash;&gt;

                /user=roles[manager]
                &lt;!&ndash; roles[manager]表示访问此连接需要用户的角色为manager &ndash;&gt;
                /user/add=roles[manager]
                /user/edit/**=roles[manager]-->

        </value>
    </property>
    </bean>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <bean id="myShiro" class="com.ezd.utils.Myshiro"/>

</beans>